<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{user.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>名稱:</strong> {{user.name}}</li>
        <li><strong>帳號:</strong> {{user.email}}</li>
        {{#if user.isAdmin}}
        <li><strong>身分:</strong> 管理員</li>
        {{else}}
        <li><strong>身分:</strong> 一般用戶</li>
        {{/if}}
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>